.container h1{
    font-size: 55px;
    color: #015854;
    font-weight: bolder;
}
.container p{
    font-size: 20px2;
    color: #1c2020;
}

.content-wrapper .container button{
    width: 30%;
    background-color: rgb(4, 194, 1);
    border: 0px;
}